.item-card{
    width: 40vh;
    text-align: center;
    font-family: Teko;
    font-size: 3vh;
    color: rgb(0, 0, 0);
    background-color:rgb(185, 185, 185) ;
    

}

.item-pict{
    width: 40vh;
}

.item-card:hover{
    transform: scale(1.1);

}



@media (max-width:500px){ 
    .item-card{
        width: 60vh;
        text-align: center;
        font-family: Teko;
        font-size: 9vh;
        color: rgb(0, 0, 0);
        background-color:rgb(185, 185, 185) ;
     
    }


    .item-pict{
        width:  60vh;
    }

}